<div class="col-lg-12">
  <app-navbar></app-navbar>
</div>
<br>
<br>
<div class="container">
  <div class="col-lg-12" style="text-align: center; color: white">
    <h1>Add a Config</h1>
  </div>
  <div class="row">
    <form [formGroup]="addConfigForm" class="col-lg-12">
      <div class="row">
        <input class="form-control" type="number" id="price"  formControlName="price" placeholder="enter price of config...">
      </div>
      <br>
      <div class="row">
        <select multiple formControlName="composantList" id="components">
          <option *ngFor="let comp of this.components, i as index" value="{{comp.reference}}">marque : {{comp.marque}}, référence : {{comp.reference}}</option>
        </select>
      </div>
      <br>
      <button class="btn btn-primary col-lg-12" (click)="addConfig()">Add</button>
    </form>
  </div>
  <br>
  <button class="btn btn-primary col-lg-12" routerLink="/home">Back to home</button>
</div>
